.picture-description{
  color: #9FA9AD;
  font-size: 12px;
}

article > blockquote{
  background-color: #F9F7F6;
  padding: 30px;
  font-size: large;
}

.other-content{
  background-color: #F9F7F6;
}
